<p>
  이름: <%= @product_type.name %><br/>
  <% if @product_type.photos.present? %>
      <% @product_type.photos.each do |photo| %>
          <%= image_tag photo.pics.url(:logo)%>
      <% end %>
  <% end %>
</p>