<tbody>
  <% @attachments.each do |attachment| %>
    <tr  class="attachments-items">
      <td class="attachments-file-name">
        <%= attachment.file_path.to_s.split('/').last.gsub!(/_/, ' ') %>
      </td>
      <td class="attachments-actions">
        <%= link_to attachment.file_path.url, target: '_blank' do %>
          <span class="icomoon" data-icon="&#xeec9;"></span>
        <% end %>
      </td>
      <td class="attachments-actions">
        <%= link_to attachment.file_path.url, download: attachment.file_path.to_s.split('/').last do%>
          <i class="fa fa-download" aria-hidden="true"></i>
          <span class="icomoon" data-icon="&#xec8b;"></span>
        <% end %>
      </td>
    </tr>
  <% end %>
</tbody>
