<div class="content-container">
  <h2><%= t(".title") %></h2>
  <div class="customer-index-container">
      <% @customers.each do |customer| %>
      <div class="customer-box">
        <div>
          <div class="customer-logo-and-name">
            <% customer.photos.each do |photo| %>
              <%= image_tag photo.pics.url(:logo), class: 'customer-logo' %>
            <% end %>
            <!-- <div class="customer-name">
              <%# customer.name %>
            </div> -->
          </div>
        </div>
      </div>
      <% end %>
  </div>
</div>