<h3 class="page-title">채용정보</h3>
<div class="career-contents-container">
<p>
기술영업, 설게 엔지니어 & CS (내근 영업보조) 요원 상시 모집.:
관련분야 3년이상 각종 부품 및 부분품 Design-in 영업 유경험자 & 영어 회화 가능자 우대.
(각종 EMI/EMC custom-design 케이블, 커넥터, Harness, Feed-throughs, RF components, Motor, Blower & Fan, Actuator, Slipring, Rotary Joint, etc).
</p>
<ol class="career-exp-list">
  <li>항공 우주 & 방위산업분야 (Radar, Missile, Jet fighter, Helicopter, tank, submarine,)</li>
  <li>반도체 test socket & 고진공 관련 분야</li>
  <li>자동차 (EV & PHEV)</li>
  <li>Machine tool & Robotics분야</li>
  <li>조선분야</li>
  <li>원자력분야</li>
  <li>제철분야</li>
  <li>백색가전</li>
  <li>철도 (열차) 분야</li>
  <li>플랜트엔지니어링</li>
  <li>의료기 및 병원 기자재</li>
</ol>
</div>