<div class="photo-area careers">
    <div class="contents">
    <!-- <img src="http://equilibriumhr.com/wp-content/uploads/2015/06/banner-3.jpg"> -->
    <p class="page-title"><%= t(".title") %></p>
    </div>
</div>
<div class="content-container">
    <div class="small-12 large-3 columns" style="border:1px solid black;width:100%; height:500px; margin:20px 0; padding:0 10px;"></div>
</div>