<h2 class="page-title"><%= t(".title") %></h2>
<div class="ceoLetter-body">
    <%= t(".letterBody").html_safe %>
    <strong><%= t(".letterSign1") %></strong> <br>
    <strong><%= t(".letterSign2") %></strong> <br>
</div>