<div class="photo-area ceoLetter">
    <div class="contents">
        <img src="http://www.allpeers.com/wp-content/uploads/2016/08/wolf-of-wall-street-minimum-salary.jpg">
        <p class="page-title-ceoLetter"><%= t(".title") %></p>
    </div>
</div>
<div class="content-container">
    <div class="ceoLetter-body">
        <p>
         SamTra International was established as a privately owned trading company in Seoul Korea on March 17, 1995, specialized  
        in selling various type of cables, connectors and cable assemblies.</p>
        <p>
        Various extreme cable interconnection problems in terms of flexibility, flex life, EMI, signal loss, temperature, space and weight in various Korean military programs have been solved through our professional consultancy sales with innovative 
        technical expertise.</p>
        <p>
        In response to our clients' continuous suggestions and/or repeated requests, we have also supplied other various mil-spec  
        part-numbered components to various military programs, in addition to the cable related products from Axon' Cable SAS and 
        the connectors from AirBorn Inc.</p>
        <p>
        In recent years, we have also been more and more successfully involved in the business areas of test &amp; measurements, 
        medical electronics, automotive electronics, Wifi applications, robotic and semiconductor equipment cables and harnesses.</p>
        <p>
        We are very proud of being a sales engineering-based trading company, specialized in listening to our customers exact 
        needs and providing perfect technical solutions and/or components, rather than taking easy orders.</p>
        <p>
        Sincerely Yours,
        </p>
        <strong> Sammy Yeunsung Choi </strong> <br>
        <strong> President </strong>
    </div>
</div>