<div class="photo-area ceoLetter">
    <div class="contents">
        <!-- <img src="http://www.allpeers.com/wp-content/uploads/2016/08/wolf-of-wall-street-minimum-salary.jpg"> -->
        <p class="page-title-ceoLetter"><%= t(".title") %></p>
    </div>
</div>
<div class="content-container">
    <div class="ceoLetter-body">
        <%= t(".letterBody").html_safe %>
        <strong><%= t(".letterSign") %></strong> <br>
        <strong>Sign!</strong>
    </div>
</div>