<div class="photo-area ceoLetter">
    <img src="http://www.allpeers.com/wp-content/uploads/2016/08/wolf-of-wall-street-minimum-salary.jpg">
    <h1>A Letter from the CEO</h1>
</div>
<p>
 SamTra International was established as a privately owned trading company in Seoul Korea on March 17, 1995, specialized  
in selling various <br> type of cables, connectors and cable assemblies. <br><br>

Various extreme cable interconnection problems in terms of flexibility, flex life, EMI, signal loss, temperature, space and  

weight in various Korean <br> military programs have been solved through our professional consultancy sales with innovative 
technical expertise. <br><br>

In response to our clients' continuous suggestions and/or repeated requests, we have also supplied other various mil-spec  
part-numbered <br> components to various military programs, in addition to the cable related products from Axon' Cable SAS and 
the connectors from AirBorn Inc. <br><br>

In recent years, we have also been more and more successfully involved in the business areas of test &amp; measurements, 
medical electronics, <br> automotive electronics, Wifi applications, robotic and semiconductor equipment cables and harnesses.<br><br>

We are very proud of being a sales engineering-based trading company, specialized in listening to our customers exact 
needs and providing <br> perfect technical solutions and/or components, rather than taking easy orders.<br><br>

Sincerely Yours,
<br><br>
<strong> Sammy Yeunsung Choi </strong> <br>
<strong> President </strong>

</p>