<h2 class="page-title"><%= t(".title") %></h2>
<div class="12-large columns">
  <table>
    <thead>
      <tr>
        <th>File Name</th>
        <th>Open In New Tab</th>
        <th>Download</th>
      </tr>
    </thead>
    <tbody>
      <% @attachments.each do |attachment| %>
        <tr>
          <td><%= attachment.file_path.to_s.split('/').last %></td>
          <td>
            <%= link_to attachment.file_path.url, target: '_blank' do %>
              <i class="fa fa-external-link" aria-hidden="true"></i>
            <% end %>
          </td>
          <td>
            <%= link_to attachment.file_path.url, download: attachment.file_path.to_s.split('/').last do%>
              <i class="fa fa-download" aria-hidden="true"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>