<div class="orbit photo-area homepage" role="region" aria-label="Favorite Space Pictures" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
  <ul class="orbit-container">
    <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
    <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
    <li class="is-active orbit-slide">
      <img class="orbit-image" src="http://www.incimages.com/uploaded_files/image/1940x900/handshake-pano_19966.jpg" alt="Chateau1">
      <figcaption class="orbit-caption"><a>SERVICE YOU CAN TRUST</a></figcaption>
    </li>
    <li class="orbit-slide">
      <img class="orbit-image" src="http://brandmajor.com/brand_content/uploads/2015/04/KTX-01.png" alt="Chateau2">
      <figcaption class="orbit-caption">KTX</figcaption>
    </li>
    <li class="orbit-slide">
      <img class="orbit-image" src="http://3.bp.blogspot.com/-HUrPChSURsA/UVpFiYsBQJI/AAAAAAAAZRE/i7naM-F1PAw/s1600/outh+Korean+K-1+tank+moves+over+a+temporary+bridge+during+a+river-crossing+military+drill+in+Hwacheon+near+the+border+with+North+Korea+%25281%2529.jpg" alt="Chateau3">
      <figcaption class="orbit-caption">K2 KOREAN MILITARY TANK</figcaption>
    </li>
    <li class="orbit-slide">
      <img class="orbit-image" src="https://i.ytimg.com/vi/Cpi-ma4UPFI/maxresdefault.jpg" alt="Chateau4">
      <figcaption class="orbit-caption">F22 DREAM</figcaption>
    </li>
  </ul>
  <nav class="orbit-bullets">
    <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
    <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
    <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
    <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
  </nav>
</div>

<div class="small-12 large-6 columns homepage" style="border: 1px solid black; height:400px; margin: 30px 0; padding: 0 10px;">
  column 1
</div>
<div class="small-12 large-3 columns homepage" style="border: 1px solid black; height:400px; margin: 30px 0; padding: 0 10px;">
  column 2
</div>
<div class="small-12 large-3 columns homepage" style="border: 1px solid black; height:400px; margin: 30px 0; padding: 0 10px;">
  column 3
</div>
