<h1 class="location"> <span aria-hidden="true" data-icon="&#xec91;" class="icomoon"> Locations</span></h1>
<div class="location">
    <div class="small-12 large-6 column">
        <h3>HEADQUARTER</h3>
        <div class="photo-area locations">
            <%= image_tag("headquarter_image.jpg")%>
        </div>
        <table class="small-12 large-12 column">
            <tr>
                <td>ADDRESS:</td>
                <td>Hoseo Venture Tower 1001 Ho, 70 Gasandigital 1-ro, Geumcheon-gu, Seoul 08590, Republic of Korea(SOUTH KOREA)</td>
            </tr>
            <tr>
                <td>TEL:</td>
                <td><a href="tel:+82-2-2627-5625">+82-2-2627-5625</a></td>
            </tr>
            <tr>
                <td>FAX:</td>
                <td>+82-2-2627-5629</td>
            </tr>
        </table>
        <div class="gMapsArea">
            <div id="map1">
                <iframe width="100%" height="300px" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=%ED%98%B8%EC%84%9C%EB%8C%80%EB%B2%A4%EC%B2%98%ED%83%80%EC%9B%8C&key=AIzaSyC_P_JGtdJSICJkGF0L_f_cxMiF2bm5RGM" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="small-12 large-6 column">
        <h3>BRANCH OFFICE (BUSAN)</h3>
        <div class="photo-area locations">
            <%= image_tag("busan_office_image.png")%>
        </div>
        <table class="small-12 large-12 column">
            <tr>
                <td>ADDRESS:</td>
                <td>T-Plex Main Building 403 Ho, 41 Yutongdanji1-ro, Gangseo-gu, Busan 46721, Republic of Korea(SOUTH KOREA)</td>
            </tr>
            <tr>
                <td>TEL:</td>
                <td><a href="tel:+82-51-991-3373">+82-51-991-3373</a></td>
            </tr>
            <tr>
                <td>FAX:</td>
                <td>+82-51-796-0625</td>
            </tr>
        </table>
        <div class="gMapsArea">
            <div id="map2">
                <iframe width="100%" height="300px" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=t-plex%EB%B6%80%EC%82%B0&key=AIzaSyC_P_JGtdJSICJkGF0L_f_cxMiF2bm5RGM" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div style="clear: both; width:100%; height:5px;"></div>
</div>