<ul class="navWIPages">
    <li><%= link_to_unless_current("Automotive", automotive_path) %></li>
    <li>/</li>
    <li><%= link_to_unless_current("Industrial Machinery", industrialMachinery_path) %></li>
    <li>/</li>
    <li><%= link_to_unless_current("Medical", medical_path) %></li>
    <li>/</li>
    <li><%= link_to_unless_current("Military", military_path) %></li>
</ul>