<h1>Markets</h1>
<accordion class="markets_index">
    <section class="market_items">
        <h5>Aerospace&Defense</h5>
    </section>
    <section class="market_items">
        <h5>Industrial</h5>
    </section>
    <section class="market_items">
        <h5>Automotive</h5>
    </section>
    <section class="market_items">
        <h5>Medical</h5>
    </section>
</accordion>
<script>
    $(document).on('mouseenter', '.market_items', function(){
        var target = $(this),
            not_target = $('.market_items').not(target);
        target.addClass('open-horizontal-market');
        not_target.addClass('close-horizontal-market');
    });
    $(document).on('mouseleave', '.market_items', function(){
        var target = $(this),
            not_target = $('.market_items').not(target);
        target.removeClass('open-horizontal-market');
        not_target.removeClass('close-horizontal-market');
    });
</script>