<h2 class="page-title"><%= t(".title") %></h2>
<accordion class="markets_index">
  <% @markets.each do |market| %>
    <section class="market_items">
      <h5 class="market_header"><%= market.name %></h5>
      <div class="market_summary_area">
        <ul class="marketapps_list">
          <% market.marketapps.each do |app| %>
            <li class="marketapps_items"><%= app.name %></li>
          <% end %>
        </ul>
      </div>
    </section>
  <% end %>
</accordion>