/*
 *= require jquery.Jcrop
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */
 
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}
@font-face {
    font-family: 'IcoMoon-Ultimate';
    src: font-url('/assets/IcoMoon-Ultimate.ttf') format("truetype");
}
.icomoon:before{
    font-family: 'IcoMoon-Ultimate';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    color: inherit;
}
body{
    background-color: #eeeeee;
}
.main {
    max-width: 60rem;
}
.title-bar.hide-for-large.row {
    margin-left: 0;
    margin-right: 0;
}
.header {
    background-color: white;
    box-shadow: rgb(222, 222, 222) 0px 0px 5px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    height: 7rem;
    transition: height 0.5s;
    .top-bar {
        margin: 0 auto;
        height: 100%;
        .top-bar-title {
            width: 30%;
            padding: 1rem 1rem 1rem 0;
            height: 100%;
            margin: 0;
            transition: padding 0.5s;
            .top-bar-logo{
                height: 100%;
                a .logo-samtra{
                    height: 100%;
                }
            }
        }
        .top-bar-left {
            width: 70%;
            height: 100%;
            float:right;
            position: relative;
            ul.dropdown.menu {
                position: absolute;
                bottom: 1rem;
                right: 0;
                transition: bottom 0.5s;
                li #top-bar-dropdown-menu{
                    margin-top: 1rem;
                    transition: margin-top 0.5s;
                    li a {
                        &:hover {
                            color: #111111 !important;
                            background: linear-gradient(#ffffff,#fafafa,#e0e0e0);
                        }
                    }
                }
            }
            ul.language.menu {
                position: absolute;
                top: 1rem;
                right: 0;
            }
        }
    }
}
.scrolldown-header {
    height: 4rem;
    .top-bar {
        .top-bar-title {
            padding: 0.5rem 0.5rem 0.5rem 0;
        }
        .top-bar-left {
            ul.dropdown.menu {
                bottom: 1.5rem;
                li #top-bar-dropdown-menu {
                    margin-top: 1.5rem;
                }
            }
        }
    }
}
//Capitalize dropdown menus in general
ul.dropdown li a, #top-bar-dropdown-menu li a {
    text-transform: uppercase;
    color: gray !important;
    font-size: 0.9rem;
}
ul.dropdown li {
    a {
        padding: 0 1rem;
    }
    ul li a {
        padding: 0.75rem;
    }
}
ul.language.menu li a {
    color: gray !important;
    padding: 0 1rem;
}

.divider-vertical {
    width: 1;
    height: 100%;
    border: 1px solid #dddddd;
}
.title-bar {
    width: 100%;
    height: 3rem;
    border-bottom: 1px solid gray;
    position: fixed;
    top: 0;
    z-index: 999;
    .title-bar-left {
        line-height: 1.5rem;
        .menu-icon {
            vertical-align: bottom;
        }
    }
    .title-bar-logo {
        text-align: center;
        line-height: 1rem;
        height: 100%;
        a .logo-samtra{
            height: 100%;
        }
    }
}
footer {
    height: 5rem;
    background-color: #001641;
    color: white;
    .row.main {
        .copyright {
            float: left;
        }
        .misc.menu {
            float: right;
            .quick_links{
                float: right;
                .quick_links_menu{
                    width: 24rem;
                    height: 5rem;
                    span {
                        width: 100%;
                        float: left;
                    }
                    li {
                        width: 33.3%;
                        float: left;
                        a{
                            color: white;
                        }
                    }
                }
            }
        }
    }
}
a:hover {
    background-color: transparent;
    color: black;
}
.logo-samtra, .logo-international {
    font-family: "Times New Roman";
}
.logo-samtra {
    font-size: 50px;
    line-height: 50px;
    color: #0044cc;
    font-weight: bold;
}
.logo-international {
    font-size: 33.5px;
    color: black;
}
.logo-samtra.small {
    font-size: 31.5px;
    line-height: 16px;
    color: #0044cc;
    font-weight: bold;
}
.logo-international.small {
    font-size: 19px;
    color: black;
}
.off-canvas-content {
    margin-top: -1rem;
}
//navigation withing pages (markets/products)
.navWIPages{
    list-style: none;
    width: 100%;
    text-align: left;
    li {
        display: inline;
        a {
            color: blue;
        }
    }
}

//global
.content-container {
    padding: 0.5rem;
}
#text_field {
    user-select: initial;
}