/*
 *= require jquery.Jcrop
 *= require_tree .
 *= stub foundation-ie8-grid
 *= require_self
 *= require foundation_and_overrides
 */

@import '/layout/fonts';
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    font-family: 'sans-serif';
}

@font-face {
    font-family: 'IcoMoon-Ultimate';
    src: url('fonts/IcoMoon-Ultimate.ttf') format("truetype");
}

.icomoon:before {
    font-family: 'IcoMoon-Ultimate';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    color: inherit;
}

body {
    background-color: #eeeeee;
}

.alert,
.notice {
    float: left;
}

.main {
    max-width: 60rem;
    &#pageYield {
        padding-right: 0.25rem;
        padding-left: 0.25rem;
        height: auto;
        overflow: hidden;
    }
}

.title-bar.hide-for-large.row {
    margin-left: 0;
    margin-right: 0;
}

.header {
    background-color: white;
    box-shadow: rgb(222, 222, 222) 0px 0px 5px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    height: 7rem;
    transition: height 0.5s;
    .top-bar {
        margin: 0 auto;
        height: 100%;
        .top-bar-title {
            width: 30%;
            padding: 1rem 1rem 1rem 0;
            height: 100%;
            margin: 0;
            transition: padding 0.5s;
            .top-bar-logo {
                height: 100%;
                a .logo-samtra {
                    height: 100%;
                }
            }
        }
        .top-bar-left {
            width: 70%;
            height: 100%;
            float: right;
            position: relative;
            ul.dropdown.menu {
                position: absolute;
                bottom: 0rem;
                height: 3rem;
                width: 100%;
                padding: 0.75rem 0;
                transition: bottom 0.5s;
                text-align: right;
                display: table;
                li ul.vertical.submenu {
                    margin-top: 0.75rem;
                    transition: margin-top 0.5s;
                    text-align: left !important;
                    li.submenu_items {
                        height: 2rem;
                        line-height: 2rem;
                        display: block;
                        a {
                            display: block;
                            text-align: left;
                            line-height: 2rem;
                            width: 100%;
                            height: 100%;
                            &:hover {
                                color: #111111 !important;
                                background: linear-gradient(#ffffff, #fafafa, #e0e0e0);
                            }
                        }
                    }
                }
                li.menu_items {
                    height: 1.5rem;
                    line-height: 1.5rem;
                    display: table-cell;
                    text-align: center;
                    a {
                        height: inherit;
                        line-height: inherit;
                        padding: 0 0.8rem;
                        text-align: center;
                        i {
                            vertical-align: inherit;
                        }
                    }
                }
                .top_bar_search_form {
                    width: 100%;
                    height: 100%;
                    padding: 0.5rem 0;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    z-index: -10;
                    opacity: 0;
                    transition: all 1s;
                    .top_bar_search_input {
                        height: 100% !important;
                        width: 99% !important;
                        float: left;
                        max-width: 1000rem;
                        padding: 0 1rem;
                        line-height: 1.5rem;
                        font-size: 1rem;
                        border-radius: 1rem;
                        &:focus {
                            box-shadow: none;
                        }
                    }
                    .top_bar_search_submit {
                        background: none;
                        height: 1.5rem;
                        width: 1.5rem;
                        position: absolute;
                        right: 0.75rem;
                        top: 0.75rem;
                        bottom: 0.75rem;
                        border: none;
                        font-size: 15px;
                        text-align: center;
                        color: gray;
                        span.icomoon {
                            width: 1.5rem;
                            height: 1.5rem;
                            line-height: 1.5rem;
                            display: block;
                        }
                    }
                }
            }
            ul.language.menu {
                position: absolute;
                top: 1rem;
                right: 0;
            }
        }
    }
}

.scrolldown-header {
    height: 4rem;
    .top-bar {
        .top-bar-title {
            padding: 0.5rem 0.5rem 0.5rem 0;
        }
        .top-bar-left {
            ul.dropdown.menu {
                bottom: 0.5rem;
                li #top-bar-dropdown-menu {
                    margin-top: 1.25rem;
                }
            }
        }
    }
}

//Capitalize dropdown menus in general
ul.dropdown li a,
#top-bar-dropdown-menu li a {
    color: gray !important;
    font-size: 15px;
}

ul.dropdown li {
    a {
        padding: 0 1rem;
    }
    ul li a {
        padding: 0.75rem;
    }
}

ul.language.menu li a {
    color: gray !important;
    padding: 0 1rem;
}

.divider-vertical {
    width: 1px !important;
    height: 100% !important;
    border-right: 1px solid #dddddd;
}

.divider-horizontal {
    height: 1px !important;
    width: 100% !important;
    display: block !important;
    border-bottom: 1px solid #dddddd;
}

.title-bar {
    width: 100%;
    height: 3rem;
    border-bottom: 1px solid gray;
    position: fixed;
    top: 0;
    z-index: 999;
    .title-bar-left {
        line-height: 1.5rem;
        display: inline-block;
        height: 100%;
        .menu-icon {
            vertical-align: bottom;
        }
    }
    .title-bar-logo {
        text-align: center;
        line-height: 1rem;
        height: 100%;
        display: inline-block;
        a .logo-samtra {
            height: 100%;
        }
    }
    .title-bar-right {
        text-align: right;
        display: inline-block;
        height: 100%;
        ul.language.menu.mobile {
            display: inline-block;
            transform: translateY(-50%);
            top: 50%;
            position: relative;
            li a {
                padding: 0 0.25rem
            }
        }
    }
}

.mobile_search_form {
    position: relative;
    width: 100%;
    height: 3rem;
    padding: 0.5rem 0;
    .mobile_search_input {
        width: 90%;
        height: 2rem;
        margin: 0 5%;
        border-radius: 1.5rem;
        padding: 0 1rem;
        position: absolute;
        left: 0;
        right: 0;
    }
    .mobile_search_submit {
        position: absolute;
        width: 2rem;
        height: 2rem;
        top: 0.5rem;
        right: 1rem;
        bottom: 0.5rem;
    }
}

footer {
    height: auto;
    min-height: 6rem;
    background-color: #001641;
    color: white;
    .row.main {
        .the_best_taxpayer {
            width: 6rem;
            float: left;
            padding: 0.5rem;
        }
        .copyright {
            float: left;
        }
        .misc.menu {
            float: right;
            .quick_links {
                float: right;
                .quick_links_menu {
                    width: 24rem;
                    height: 5rem;
                    span {
                        width: 100%;
                        float: left;
                    }
                    li {
                        width: 33.3%;
                        float: left;
                        a {
                            color: white;
                        }
                    }
                }
            }
        }
    }
}

a:hover {
    background-color: transparent;
    color: black;
}

.logo-samtra,
.logo-international {
    font-family: "Times New Roman";
}

.logo-samtra {
    font-size: 50px;
    line-height: 50px;
    color: #0044cc;
    font-weight: bold;
}

.logo-international {
    font-size: 33.5px;
    color: black;
}

.logo-samtra.small {
    font-size: 31.5px;
    line-height: 16px;
    color: #0044cc;
    font-weight: bold;
}

.logo-international.small {
    font-size: 19px;
    color: black;
}

.off-canvas-content {
    margin-top: -1rem;
}

//navigation withing pages (markets/products)
.navWIPages {
    list-style: none;
    width: 100%;
    text-align: left;
    li {
        display: inline;
        a {
            color: blue;
        }
    }
}

.show_search {
    z-index: 10 !important;
    opacity: 1 !important;
}

//global
.content-container {
    padding: 0;
}
.page-title {
    border-bottom: 3px solid #222222;
    margin: 0.5rem;
    color: #222222;
    font-weight: 200;
}
#text_field {
    user-select: initial;
}

input,
textarea {
    user-select: text;
    -webkit-webkit-user-select: text;
    -moz-webkit-user-select: text;
    -ms-webkit-user-select: text;
    -o-webkit-user-select: text;
    webkit-user-select: text;
}

.flash_message {
    width: 100%;
    height: 50px;
    background: black;
    color: white;
    position: fixed;
    top: 50px;
    left: 0;
    opacity: 0.7;
    font-weight: bold;
    z-index: 1000;
    font-size: 30px;
    text-align: center;
    padding: 10px 0;
}
@media screen and (max-width: 39.9375em) {
    .page-title {
        font-size: 2rem;
    }
}


/* Medium only */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .page-title {
        font-size: 2.25rem;
    }

}