/*
 *= require jquery.Jcrop
 *= require_tree .
 *= stub foundation-ie8-grid
 *= require_self
 *= require foundation_and_overrides
 */

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}
body:lang(en){
    font-family: Arial !important;
}
body:lang(ko){
    font-family: '맑은 고딕', 'Malgun Gothic', 'Noto Sans', sans-serif !important;;
}

@font-face {
    font-family: 'IcoMoon-Ultimate';
    src: font-url('IcoMoon-Ultimate.ttf') format("truetype");
}
.icomoon:before {
    font-family: 'IcoMoon-Ultimate';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    color: inherit;
}

body {
    background-color: #eeeeee;
}

.alert,
.notice {
    float: left;
}

.main {
    max-width: 1200px;
    &#pageYield {
        padding-right: 0.25rem;
        padding-left: 0.25rem;
        min-height: 100vh;
        overflow: hidden;
        min-height: 400px;
    }
}

.title-bar.hide-for-large.row {
    margin-left: 0;
    margin-right: 0;
}

.header {
    background-color: white;
    box-shadow: rgb(222, 222, 222) 0px 0px 5px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    height: 7rem;
    transition: height 0.5s;
    .top-bar {
        margin: 0 auto;
        height: 100%;
        .top-bar-title {
            width: 30%;
            padding: 1rem 1rem 1rem 0;
            height: 100%;
            margin: 0;
            transition: padding 0.5s;
            .top-bar-logo {
                height: 100%;
                a .logo-samtra {
                    height: 100%;
                }
            }
        }
        .top-bar-left {
            width: 70%;
            height: 100%;
            float: right;
            position: relative;
            font-weight: bold;
            // opacity: 0;
            transition: opacity 1s;
            ul.dropdown.menu {
                position: absolute;
                bottom: 0rem;
                height: 3rem;
                width: 100%;
                padding: 0.75rem 0;
                transition: bottom 0.5s;
                text-align: right;
                display: table;
                li.menu_items{
                    height: 1.5rem;
                    line-height: 1.5rem;
                    display: table-cell;
                    text-align: center;
                    position: relative;
                    a {
                        height: inherit;
                        line-height: inherit;
                        padding: 0 0.8rem;
                        text-align: center;
                        color: #515151 !important;
                        font-weight: bold;
                        i {
                            vertical-align: inherit;
                        }
                    }
                    &.is-dropdown-submenu-parent{
                        &:hover > ul.vertical.submenu {
                            visibility: visible !important; /* shows sub-menu */
                            opacity: 1;
                            z-index: 1000;
                            transform: translateY(0%);
                            transition-delay: 0s, 0s, 0.3s !important; /* this removes the transition delay so the menu will be visible while the other styles transition */
                        }
                        ul.vertical.submenu {
                            margin-top: 0.75rem;
                            transition: margin-top 0.5s;
                            text-align: left !important;
                            border-top: none !important;
                            /* From plugin start */
                            visibility: hidden !important; /* hides sub-menu */
                            opacity: 0;
                            transform: translateY(-2em);
                            z-index: -1;
                            transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s !important;
                            // /* From plugin end */
                            li.submenu_items {
                                height: 2rem;
                                line-height: 2rem;
                                display: block;
                                a {
                                    display: block;
                                    text-align: left;
                                    line-height: 2rem;
                                    width: 100%;
                                    height: 100%;
                                    color: #515151 !important;
                                    &:hover {
                                        background: linear-gradient(#ffffff, #fafafa, #e0e0e0);
                                    }
                                }
                            }
                        }
                    }
                }
                .top_bar_search_form {
                    width: 100%;
                    height: 100%;
                    padding: 0.5rem 0;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    z-index: -10;
                    opacity: 0;
                    transition: all 1s;
                    .top_bar_search_input {
                        height: 100% !important;
                        width: 99% !important;
                        float: left;
                        max-width: 1000rem;
                        padding: 0 1rem;
                        line-height: 1.5rem;
                        font-size: 1rem;
                        border-radius: 1rem;
                        &:focus {
                            box-shadow: none;
                        }
                    }
                    .top_bar_search_submit {
                        background: none;
                        height: 1.5rem;
                        width: 1.5rem;
                        position: absolute;
                        right: 0.75rem;
                        top: 0.75rem;
                        bottom: 0.75rem;
                        border: none;
                        font-size: 15px;
                        text-align: center;
                        color: gray;
                        span.icomoon {
                            width: 1.5rem;
                            height: 1.5rem;
                            line-height: 1.5rem;
                            display: block;
                        }
                    }
                }
            }
            ul#language-menu.language.menu {
                position: absolute;
                top: 1rem;
                right: 0;
                li {
                    a {
                        color: #515151 !important;
                        padding: 0 1rem;
                    }
                }
            }
        }
    }
    // for reducing the size of the header on scroll down
    &.scrolldown-header {
        height: 50px !important;
        nav.top-bar{
            div.top-bar-title{
                padding: 0.5rem 0.5rem 0.5rem 0 !important;
            }
        }
    }
}


//Capitalize dropdown menus in general
ul.dropdown li a,
#top-bar-dropdown-menu li a {
    color: #444444 !important;
    font-size: 15px;
}
ul.dropdown li {
    a {
        padding: 0 1rem;
    }
    ul li a {
        padding: 0.75rem;
    }
}

.divider-vertical {
    width: 1px !important;
    height: 100% !important;
    border-right: 1px solid #515151;
}

.divider-horizontal {
    height: 1px !important;
    width: 100% !important;
    display: block !important;
    border-bottom: 1px solid #515151;
}

.title-bar {
    width: 100%;
    height: 3rem;
    border-bottom: 1px solid gray;
    position: fixed;
    top: 0;
    z-index: 999;
    .title-bar-left {
        line-height: 1.5rem;
        display: inline-block;
        height: 100%;
        .menu-icon {
            vertical-align: bottom;
        }
    }
    .title-bar-logo {
        text-align: center;
        line-height: 1rem;
        height: 100%;
        display: inline-block;
        a .logo-samtra {
            height: 100%;
        }
    }
    .title-bar-right {
        text-align: right;
        display: inline-block;
        height: 100%;
        ul.language.menu.mobile {
            display: inline-block;
            transform: translateY(-50%);
            top: 50%;
            position: relative;
            li a {
                padding: 0 0.25rem
            }
        }
    }
}

.mobile_search_form {
    position: relative;
    width: 100%;
    height: 3rem;
    padding: 0.5rem 0;
    .mobile_search_input {
        width: 90%;
        height: 2rem;
        margin: 0 5%;
        border-radius: 1.5rem;
        padding: 0 1rem;
        position: absolute;
        left: 0;
        right: 0;
    }
    .mobile_search_submit {
        position: absolute;
        width: 2rem;
        height: 2rem;
        top: 0.5rem;
        right: 1rem;
        bottom: 0.5rem;
    }
}

footer {
    height: auto;
    min-height: 6rem;
    background-color: #001641;
    padding-top: 1%;
    color: white;
    .row.main {
        .the_best_taxpayer {
            width: 6rem;
            float: left;
            padding: 0.5rem;
        }
        .footerAddress {
            user-select: text;
            -webkit-webkit-user-select: text;
            -moz-webkit-user-select: text;
            -ms-webkit-user-select: text;
            -o-webkit-user-select: text;
            -webkit-user-select: text;
        }
        .copyright {
            float: left;
        }
        .misc.menu {
            float: right;
            .quick_links {
                float: right;
                .quick_links_menu {
                    width: 24rem;
                    height: 5rem;
                    span {
                        width: 100%;
                        float: left;
                    }
                    li {
                        width: 33.3%;
                        float: left;
                        a {
                            color: white;
                        }
                    }
                }
            }
        }
    }
}

.off-canvas-content {
    margin-top: -1rem;
    min-height: 100vh;
}

//navigation withing pages (markets/products)
.navWIPages {
    list-style: none;
    width: 100%;
    text-align: left;
    li {
        display: inline;
        a {
            color: blue;
        }
    }
}

.show_search {
    z-index: 10 !important;
    opacity: 1 !important;
}

//global
.content-container {
    padding: 0;
}
.page-title {
    border-bottom: 3px solid #222222;
    margin: 0.5rem 0;
    color: #222222;
    font-weight: 200;
}
#text_field {
    user-select: initial;
}

input,
textarea {
    user-select: text;
    -webkit-webkit-user-select: text;
    -moz-webkit-user-select: text;
    -ms-webkit-user-select: text;
    -o-webkit-user-select: text;
    -webkit-user-select: text;
}

.flash_message {
    width: 100%;
    height: 50px;
    background: black;
    color: white;
    position: fixed;
    top: 50px;
    left: 0;
    opacity: 0.7;
    font-weight: bold;
    z-index: 1000;
    font-size: 30px;
    text-align: center;
    padding: 10px 0;
}

// small
@media screen and (max-width: 39.9375em) {
    .page-title, .page-image-title {
        font-size: 2rem;
    }
}

/* Medium only */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .page-title, .page-image-title {
        font-size: 2.25rem;
    }

}