
div.contact.row {
    padding: 0 0.75rem;
    div.specs {
        fieldset {
            display: none;
        }
    }
    div.contact.actions {
        text-align: center;
    }
}

#contact_body {
    height: 7rem;
}

fieldset.slipring_options {
    display: none;
}

.show {
    display: inline-block !important;
}
