// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media only screen and (min-width: 64.063em){
    //index
    .content-container{
        width: 100%;
        min-height: 30rem;
        .customer-index-container {
            width: 100%;
            -js-display: flex;
            display: flex;
            flex-wrap: wrap;
            .customer-box{
                width: 14%;
                display:block;
                content: '';
                position: relative;
                div {
                    padding-top: 94%;
                    margin: 3%;
                    border: 2px solid #bfbfbf;
                    border-radius: 5px;
                    height: 0 !important;
                    .customer-logo-and-name {
                        position: absolute !important;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        height: auto !important;
                        width: auto !important;
                        border: none !important;
                        img.customer-logo {
                            width: 89.5%;
                            position: absolute;
                            transform: translateY(-50%);
                            top: 50% !important;
                            height: auto !important;
                            margin-top: 0 !important;
                            padding: 5%;
                        }
                        .customer-name {
                            width: 96%;
                            text-align: center;
                            margin-top: 0.5rem;
                            font-weight: bold;
                            position: absolute;
                            bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 64rem){
    //index
    .content-container{
        width: 100%;
        min-height: 30rem;
        .customer-index-container {
            width: 100%;
            -js-display: flex;
            display: flex;
            flex-wrap: wrap;
            .customer-box{
                width: 33%;
                display:block;
                content: '';
                position: relative;
                div {
                    padding-top: 87%;
                    margin: 3%;
                    border: 2px solid #bfbfbf;
                    border-radius: 5px;
                    height: 0 !important;
                    .customer-logo-and-name {
                        position: absolute !important;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        height: auto !important;
                        width: auto !important;
                        border: none !important;
                        img.customer-logo {
                            width: 89.5%;
                            position: absolute;
                            transform: translateY(-50%);
                            top: 50% !important;
                            padding: 5%;
                        }
                        .customer-name {
                            width: 89%;
                            text-align: center;
                            margin-top: 0.5rem;
                            font-weight: bold;
                            position: absolute;
                            bottom: 0;
                            padding: 5%;
                        }
                    }
                }
            }
        }
    }
}