// Place all the styles related to the markets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.open-horizontal-market {
  width: 40% !important;
}
.close-horizontal-market {
  width: 20% !important;
}

accordion.markets_index{
  width: 100%;
  height: 460px;
  display: block;
  section.market_items{
    width: 25%;
    height: 450px;
    display: block;
    float: left;
    background-color: gold;
    border: 1px solid black;
    transition: all 0.2s;
    h5 {
      padding: 0.25rem;
    }
  }
}