@mixin photo-ratio($ratio) {
    width: 100%;
    padding-top: $ratio;
    position: relative;
    > .contents {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

@mixin widthAndHeight($width, $height) {
    width: $width !important;
    height: $height !important;
}

// Search page
.search_results_area {
    min-height: 500px;
}

.search_category {
    border-bottom: 2px solid #444444;
    color: #444444;
    font-weight: 300;
}

// Download page serach form
#paginator {
    width: 100%;
    nav.pagination {
        display: table;
        width: 100%;
        text-align: center;
        span {
            display: inline-block;
        }
    }
}

.downloads_page {
    min-height: 500px;
}

.downloads_search_form {
    width: 100%;
    height: 3rem;
    padding: 0.5rem 0;
    position: relative;
    .downloads_search_input {
        width: 100%;
        height: 2rem;
        border-radius: 1rem;
        padding: 0 1rem;
        position: absolute;
        top: 0.5rem;
        right: 0;
        bottom: 0.5rem;
        left: 0;
    }
    .downloads_search_submit {
        width: 2rem;
        height: 2rem;
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        bottom: 0.5rem;
    }
}

// Attachments table style
.attachments-table {
    width: 100%;
    height: auto;
    thead {
        tr {
            .attachments-file-name {
                width: 80%;
            }
            .attachments-actions {
                width: 10%;
                text-align: center;
            }
        }
    }
    tbody {
        .attachments-items {
            .attachments-file-name {
                width: 80%;
                text-align: left;
                text-indent: 0.5rem;
            }
            .attachments-actions {
                width: 10%;
                text-align: center;
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
            &:hover {
                background: #003092;
                color: white;
                font-weight: bold;
                .attachments-actions {
                    a {
                        color: white;
                    }
                }
            }
        }
    }
}

//homepage
.info_area.homepage {
    display: inherit;
    .columns.homepage {
        margin-top: 0.5rem !important;
        margin-bottom: 0rem !important;
        padding-bottom: 0.5rem;
    }
}
.orbit.homepage.hide-for-small-only {
    @include photo-ratio(45%);
    margin-bottom: 0.75rem;
    .contents {
        li.orbit-slide {
            height: 100%;
            background-position: center !important;
            background-size: cover !important;
            div.orbit-caption {
                opacity: 0;
                transition: all 0.3s ease-in-out 0.2s, opacity 0.2s linear 0.3s;
                a {
                    color: white;
                    size: 16px;
                    font-weight: bold;
                }
            }
            &:hover{
                div.orbit-caption {
                    opacity: 1;
                }
            }
        }
    }
    .orbit-bullets {
        @include widthAndHeight(45%, 50px);
        text-align: right;
        padding-right: 1rem;
        line-height: 50px;
        float: right;
        button {
            border-radius: 0;
            vertical-align: middle;
            border-radius: 2px;
        }
    }
}


@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

.marquee-area {
    display: block;
    width: 100%;
    margin: 0.5rem 0;
    height: 10rem;
    overflow: hidden;
    .marquee {
        height: 100%;
        width: 1170rem;
        animation: marquee 300s linear infinite;
        &:hover {
            animation-play-state: paused;
        }
        .marquee-links {
            height: 10rem;
            width: 10rem;
            display: block;
            float: left;
            position: relative;
            .marquee-name-area {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                z-index: 3;
                transition: all 0.5s;
                .marquee-name {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    transition: opacity 0.5s;
                    .marquee-text {
                        position: absolute;
                        color: white;
                        font-size: 1.5rem;
                        line-height: 1.5rem;
                        font-weight: bold;
                        text-align: center;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 100%;
                        padding: 5px;
                    }
                }
                &:hover {
                    .marquee-name {
                        opacity: 1 !important;
                        background: rgba(0, 0, 0, 0.7)
                    }
                }
            }
        }
    }
}

//locations page
.locations-photo {
    @include widthAndHeight(100%, 15rem);
    img {
        @include widthAndHeight(100%, 100%);
    }
}

h1.locations {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}

.locations.address {
    user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
}

.gMap-area {
    width: 100%;
    margin-bottom: 1rem;
    div {
        @include widthAndHeight(100%, 20rem);
    }
}

.gMapsArea {
    // overflow: auto;
}

//ceoLetter
.ceoLetter-body {
    margin: 0.75rem 0.5rem;
    p {
        font-size: 1rem;
        line-height: 1.5rem;
        word-break: keep-all;
    }
    strong.letterSign {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 400;
    }
}

// career page
.career-contents-container {
    margin: 0.5rem;
    p {
        word-break: keep-all;
        font-size: 15px;
    }
    .career-exp-list {
        font-size: 15px;
        li {
            font-size: 15px;
        }
    }
}

// history page
.history-contents-container {
    margin: 0.5rem;
    .history_date {
        width: 11%;
    }
}

//media queries (foundation limits)

/* Small only */

@media screen and (max-width: 39.9375em) {
    $slideHeight: 200px;
    .copyright {
        width: 60%;
    }
    .mobile_articles_area {
        margin-bottom: 0.25rem;
        .mobile_articles {
            position: relative;
            @include photo-ratio(45%);
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            .contents{
                .mobile_article_caption {
                    @include widthAndHeight(100%, 1.75rem);
                    max-width: 100%;
                    position: absolute;
                    bottom: 0;
                    background-color: rgba(0, 0, 0, 0.7);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    .mobile_article_link {
                        color: white;
                        line-height: 1.75rem;
                        display: inline-block;
                        @include widthAndHeight(100%, 100%);
                        font-size: 0.875rem;
                        padding: 0 0.5rem;
                        color: white !important;
                        font-weight: bold;
                    }
                }
            }
        }
        .orbit.homepage.mobile {
            @include photo-ratio(45%);
            .contents {
                li.orbit-slide {
                    height: 100%;
                    background-position: center !important;
                    background-size: cover !important;
                    div.orbit-caption {
                        padding: 0;
                        @include widthAndHeight(100%, 1.75rem);
                        max-width: 100%;
                        position: absolute;
                        bottom: 0;
                        background-color: rgba(0, 0, 0, 0.7);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        a {
                            color: white;
                            line-height: 1.75rem;
                            display: inline-block;
                            @include widthAndHeight(100%, 100%);
                            font-size: 0.875rem;
                            padding: 0 0.5rem;
                            color: white !important;
                            font-weight: bold;
                        }
                    }
                }
            }
            .orbit-bullets.mobile {
                @include widthAndHeight(45%, 1.75rem);
                text-align: right;
                padding-right: 1rem;
                line-height: 1.75rem;
                float: right;
                margin-top: -1.75rem;
                button {
                    border-radius: 0;
                    vertical-align: middle;
                    border-radius: 2px;
                }
            }
        }
    }
    .history-contents-container .history_date {
        width: 30%;
    }
}


/* Medium only */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .photo-area {
        @include photo-ratio(25%);
        > .contents {
            > .page-title-ceoLetter {
                font-size: 3rem;
                line-height: 3rem;
                margin-top: -4rem;
                padding-left: 1rem;
            }
            > .page-title {
                font-size: 4rem;
                line-height: 4rem;
                margin-top: -5rem;
                padding-left: 1rem;
            }
        }
    }
    .marquee-area {
        height: 7rem !important;
        .marquee {
            width: 819rem !important;
            .marquee-links {
                height: 7rem !important;
                width: 7rem !important;
            }
            .marquee-name-area {
                .marquee-name {
                    font-size: 1rem !important;
                }
            }
        }
    }
    .history-contents-container .history_date {
        width: 16%;
    }
}


/* Large and up */

@media screen and (min-width: 64em) {
    .photo-area {
        @include photo-ratio(25%);
        > .contents {
            > .page-title-ceoLetter {
                font-size: 4rem;
                line-height: 4rem;
                margin-top: -5rem;
                padding-left: 1rem;
            }
            > .page-title {
                font-size: 5rem;
                line-height: 5rem;
                margin-top: -6rem;
                padding-left: 1rem;
            }
        }
    }
}
