@mixin photo-ratio($ratio) {
  width: 100%;
  padding-top: $ratio;
  position: relative;
  > .contents {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
.photo-area.homepage {
    @include photo-ratio(45%);
    margin-bottom: 0.75rem;
    .contents{
        li {
            img.orbit-image {
                width: 100% !important;
                height: 100% !important;   
            }
            div{
                
                a {
                    color: white;
                    size: 16px;
                    
                }    
            }
        }
    }
    .orbit-bullets {
        text-align: right;
        padding-right: 1rem;
        float: right;
        button {
            border-radius: 0;    
        }
    }
}
.photo-area.articles {
    @include photo-ratio(45%);
    .contents{
        img {
        width: 100%;
        height: 100%;
        }
        h1{
            margin-top: -8rem;
            font-size: 6rem;
            padding-left: 2rem;
            color: white;
        }   
    }
}
.photo-area.locations {
    img{
        width: 100%;
        height: 100%;
    }
}
h1.locations {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}
.locations.address {
    user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
}
.photo-area.careers {

}
.gMap-area {
    width: 100%;
    margin-bottom: 1rem;
    div {
        width: 100%;
        height: 20rem;
    }
}

.gMapsArea {
   // overflow: auto;
}
.columns.homepage {
    margin-top: 0.5rem !important;
    margin-bottom: 0rem !important;
    padding-bottom: 0.5rem;
}
.content-container {
    padding: 0.5rem;
}