// Place all the styles related to the product_types controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//on Large screen
$imp: !important;
//product_type activated------
.products_browser_container{
    width: 100%;
    height: 500px;
    .product_types_index {
        width: 100%;
        height: 100%;
        .product_types_list{
            display: initial;
            a.product_types_items {
                width: 23.5%;
                height: 300px;
                margin: 0.5%;
                padding: 5px;
                border-radius: 5px;
                display: inline-block;
                text-align: center;
            }

        }
    }
    //brand_activated-----
    .brands_products_container {
        display: none;
        width: 90%;
        height: 100%;
        box-shadow: rgb(222, 222, 222) 0 0 5px;
        float: left;
        .brands_index {
            width: 100%;
            height: 100%;
            float: left;
            padding: 0.5%;
            .brands_list{
                display: initial;
                a.brands_items{
                    width: 23.5%;
                    height: 150px;
                    margin: 0.5%;
                    padding: 5px;
                    border-radius: 5px;
                    display: inline-block;
                    text-align: center;
                }
            }
        }
        .products_container {
            display: none;
            float: left;
            width: 90%;
            height: 500px;
            box-shadow: rgb(222, 222, 222) 0 0 5px;
            .products_index {
                max-height: 500px !important;
                height: auto !important;
                overflow: auto;
                display: block;
                padding: 0;
                float: left;
                width: 20%;
                box-shadow: rgb(222, 222, 222) 0 0 5px;
                .products_list {
                    display: initial;
                    a.products_items {
                        width: 100%;
                        display: block;
                        padding: 5px;
                        height: auto;
                        margin: 0 ;
                        border-radius: 0 ;
                        text-align: left ;
                    }
                }
            }
            .view_products {
                display: block;
                float: left;
                box-shadow: rgb(222, 222, 222) 0 0 5px;
                padding: 5px;
                width: 80%;
                height: 500px;
                overflow: auto;
            }
        }
    }
}
.product_type_activated {
    .product_types_index{
        width: 10%;
        height: auto;
        display: block;
        margin: 0;
        border-radius: 0;
        float:left;
        .product_types_list{
            a.product_types_items{
                display: block;
                width: 100% $imp;
                height: auto $imp;
                text-align: left;
                border-radius: 0;
            }
        }
    }
    .brands_products_container{
        display: block;
    }
}
.brand_activated {
    div.brands_index {
        width: 10% $imp;
        height: 100% $imp;
        padding: 0 $imp;
        div.brands_list{
            a.brands_items{
                width: 100% $imp;
                height: auto $imp;
                display: block $imp;
                margin: 0 $imp;
                border-radius: 0 $imp;
                text-align: left $imp;
            }
        }
    }
    .products_container{
        display: block $imp;
    }
}
.items-buttons {
    box-shadow: rgb(222, 222, 222) 0 0 5px;
    &:hover{
        box-shadow: rgb(111,111,111) 0 0 5px;
    }
}
