// Place all the styles related to the product_browser controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// large view!!
$box-shadow: rgb(148, 148, 148) 0 0 5px;
$box-shadow-hover: rgb(111,111,111) 0 0 5px;
$imp: !important;
@mixin wah($width:auto, $height:auto){
  width: unquote($width);
  height: unquote($height);
}
.product_browser_title{
  text-align: center;
}
.open-horizontal{
  width: 40% $imp;
  .brand_logo_and_name{
    .brand_logo{
      img{
        left: 10px $imp;
        transform: translateX(0) $imp;
      }
    }
  }
  .product_types_list_area{
    background-color: rgba(0,0,0,0.7) $imp;
    .product_type_list {
      .product_type_items{
        opacity: 1 $imp;
      }
    }
  }
}
.close-horizontal{
  width: 15% $imp;
  .brand_logo_and_name{
    .brand_logo{
      img{
        left: 50% $imp;
        transform: translateX(-50%) $imp;
      }
    }
  }
  .product_types_list_area{
    background-color: rgba(0,0,0,0) $imp;
    .product_type_list {
      .product_type_items{
        opacity: 0 $imp;
      }
    }
  }
}
// Web view
@media only screen and (min-width: 64.063em) {
  // Browser page
  .browser_container{
    @include wah(100%, 450px);
    margin-bottom: 1rem;
    //product_type activated------
    .index_container{
      @include wah(100%,100%);
      display: inline-block;
      accordion.brands_index {
        @include wah(100%, 100%);
        float: left;
        padding: 0 0.25rem;
        section.brand_items{
          //flex-grow: 1;
          display: block;
          float: left;
          @include wah($width: 20%,$height: 100%);
          transition: all 0.5s;
          position: relative;
          overflow: hidden;
          .brand_logo_and_name{
            @include wah(100%, 2.5rem);
            position: relative;
            a {
              @include wah(100%, 100%);
              display: inline-block;
              .brand_logo{
                //text-align: center;
                @include wah(100%, 100%);
                border-top: 1px solid;
                border-left: 1px solid;
                border-color: lightgray;
                position: relative;
                img {
                  height: 100%;
                  position: absolute;
                  left: 50%;
                  transform: translateX(-50%);
                  padding: 0.2rem;
                  transition: all 0.5s;
                }
              }
              .brand_name{
                font-size: 1.5rem;
              }
            }
          }
          img.background_pics {
            position: absolute;
            left: 0; bottom: 0;
            width: 378px;
            height: 410px;
            max-width: none;
          }
          .product_types_list_area{
            height: 91%;
            background-color: rgba(0,0,0,0);
            transition: all 1.5s;
            position: relative;
            ul.product_type_list{
              list-style: none;
              opacity: 1;
              line-height: 2rem;
              transition:all 1s;
              padding-left: 2rem;
              overflow: hidden;
              .product_type_items{
                opacity: 0;
                transition: all 0.5s;
                width: 20rem;
                overflow: hidden;
                a {
                  color: white;
                }
              }
            }
          }
          &:hover{
            flex-grow: 3;
            .product_types_list_area{
              ul.product_type_list{
                opacity: 1;
              }
            }
          }

        }
      }
    }
  }
  .brands_nav_area {
    list-style: none;
    width: 100%;
    text-align: right;
    margin: 0.5rem;
    li {
      display: inline;
      &.brand_links {
        border: 1px solid;
        margin: 0 1rem;
        padding: 0 1rem;
      }
    }
  }
  // Product Type page
  .tab_menu{
    width: 25%;
    display: inline-block;
    float: left;
    .product_type_list{
      list-style: none;
      margin: 0 0 0 0.5rem;
      .product_type_items{
        height: auto;
        border-bottom: 1px solid;
        padding-left: 0.5rem;
        a {
          vertical-align: middle;
        }
      }
    }
  }
  .brand_name_title{
    border-bottom: 1px solid;
    margin: 0.5rem;
  }
  .products_index {
    width: 75%;
    display: inline-block;
    float: left;
    padding: 0 1rem;
    min-height: 500px;
    fieldset{
      h5 {
        border-bottom: 1px solid #a9a9a9;
      }
      div.product_image_area{
        position: relative;
        width: 18.5%;
        padding-top: 20%;
        margin: 0 0.75%;
        float: left;
        img.product_image {
          position: absolute;
          top: 0; right: 0;
          bottom: 0; left: 0;
        }
      }
      div.product_details {
        width: 78.5%;
        margin: 0 0.75%;
        height: 8rem;
        //border: 1px solid red;
        float: left;
      }
      .product_links {
        font-size: 14px;
        line-height: 1rem;
        height: 1rem;
        float: right;
      }
    }
  }
}

// Mobile view
@media only screen and (max-width: 64rem){
  .browser_container{
    @include wah(100%, 500px);
    //product_type activated------
    .index_container{
      @include wah(100%,100%);
      display: inline-block;
      .brands_index {
        @include wah(100%, auto);
        float: left;
        padding: 0 0.25rem;
        display: flex;
        // flex-wrap: wrap;
        .brand_items{
          //width: 24%;
          flex: 1;
          @include wah($height: 10rem);
          //position: absolute;
          //top: 0;
          //right: 0;
          //left: 0;
          //bottom: 0;
          margin: 0.5%;
          padding: 5px;
          border-radius: 5px;
          .brand_logo_and_name{
            .brand_logo{
            }
            .brand_name{
            }
          }
          .product_type_list_area{
            .product_type_list{
              .product_type_items{
              }
            }
          }
        }
      }
    }
  }
}