// Place all the styles related to the product_browser controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// large view!!
$box-shadow: rgb(148, 148, 148) 0 0 5px;
$box-shadow-hover: rgb(111,111,111) 0 0 5px;
@mixin wah($width:auto, $height:auto){
  width: unquote($width);
  height: unquote($height);
}
.product_browser_title{
  text-align: center;
}
.open-horizontal{
  width: 40% !important;
  .product_types_list_area{
    background-color: rgba(0,0,0,0.5) !important;
    .product_type_list {
      .product_type_items{
        opacity: 1 !important;
      }
    }
  }
}
.close-horizontal{
  width: 15% !important;
  .product_types_list_area{
    background-color: rgba(0,0,0,0) !important;
    .product_type_list {
      .product_type_items{
        opacity: 0 !important;
      }
    }
  }
}
// Web view
@media only screen and (min-width: 64.063em) {
  // Browser page
  .browser_container{
    @include wah(100%, 450px);
    margin-bottom: 1rem;
    //product_type activated------
    .index_container{
      @include wah(100%,100%);
      display: inline-block;
      accordion.brands_index {
        @include wah(100%, 100%);
        float: left;
        padding: 0 0.25rem;
        section.brand_items{
          //flex-grow: 1;
          display: block;
          float: left;
          @include wah($width: 20%,$height: 100%);
          transition: all 0.5s;
          .brand_logo_and_name{
            .brand_logo{
              img {
                height: 2.5rem;
                padding: 0.2rem;
              }
            }
            .brand_name{
              font-size: 1.5rem;
            }
          }
          .product_types_list_area{
            height: 91%;
            background-color: rgba(0,0,0,0);
            transition: all 1.5s;
            ul.product_type_list{
              list-style: none;
              opacity: 1;
              line-height: 2rem;
              transition:all 1s;
              padding-left: 2rem;
              overflow: hidden;
              .product_type_items{
                opacity: 0;
                transition: all 0.5s;
                width: 20rem;
                overflow: hidden;
                a {
                  color: white;
                }
              }
            }
          }
          &:hover{
            flex-grow: 3;
            .product_types_list_area{
              ul.product_type_list{
                opacity: 1;
              }
            }
          }
          //border: 1px solid black;
          &#0{background-color: gray;}
          &#1{background-color: blue;}
          &#2{background-color: skyblue;}
          &#3{background-color: pink;}
          &#4{background-color: gold;}
        }
      }
    }
  }
  // Product Type page
  .tab_menu{
    width: 25%;
    display: inline-block;
    float: left;
    .product_type_list{
      list-style: none;
      margin: 0 0 0 0.5rem;
      .product_type_items{
        height: auto;
        border-bottom: 1px solid;
        padding-left: 0.5rem;
        a {
          vertical-align: middle;
        }
      }
    }
  }
  .brand_name_title{
    border-bottom: 1px solid;
    margin: 0.5rem;
  }
  .products_index {
    width: 75%;
    display: inline-block;
    float: left;
    padding: 0 1rem;
    min-height: 500px;
    fieldset{
      h5 {
        border-bottom: 1px solid #a9a9a9;
      }
      div.product_image_area{
        img.product_image {
          width: 20%;
          height: 9rem;
          //border: 1px solid blue;
          float: left;
        }
      }
      div.product_details {
        width: 80%;
        height: 8rem;
        //border: 1px solid red;
        float: left;
      }
      .product_links {
        font-size: 14px;
        line-height: 1rem;
        height: 1rem;
        float: right;
      }
    }
  }
}

// Mobile view
@media only screen and (max-width: 64rem){
  .browser_container{
    @include wah(100%, 500px);
    //product_type activated------
    .index_container{
      @include wah(100%,100%);
      display: inline-block;
      .brands_index {
        @include wah(100%, auto);
        float: left;
        padding: 0 0.25rem;
        display: flex;
        // flex-wrap: wrap;
        .brand_items{
          //width: 24%;
          flex: 1;
          @include wah($height: 10rem);
          //position: absolute;
          //top: 0;
          //right: 0;
          //left: 0;
          //bottom: 0;
          margin: 0.5%;
          padding: 5px;
          border-radius: 5px;
          .brand_logo_and_name{
            .brand_logo{
            }
            .brand_name{
            }
          }
          .product_type_list_area{
            .product_type_list{
              .product_type_items{
              }
            }
          }
        }
      }
    }
  }
}