<div class="products_index">
  <% @products.each do |product| %>
    <div class="products_list">
      <% if admin_signed_in? %>
        <%= link_to 'Edit', edit_product_path(product) %> |
        <%= link_to 'Destroy', product_path(product), method: :delete, data: { confirm: '해당 제품을 삭제하시겠습니까?' } %>
      <% end %>
      <%= link_to product_path(product), class: "products_items items-buttons" ,remote: true do %>
        <%= product.name %>
      <% end %>
    </div>
  <% end %>
</div>
<div class="view_products" id="view_products">
  <h1>Click product name to view its contents</h1>
</div>