<ul class="accordion" data-accordion id="product_accordion" data-allow-all-closed="true">
  <% @products.each.with_index do |product, index| %>
    <% if index == 0 %>
      <li class="accordion-item is-active" data-accordion-item>
    <% else %>
      <li class="accordion-item" data-accordion-item>
    <% end %>
      <a class="accordion-title products_items items-buttons"><%= product.name %></a>
      <div class="accordion-content" data-tab-content>
          <p>
          <strong><%= product.name %></strong><br>
          Heritage: <%= raw product.heritage_list.map {|h| link_to h, heritage_path(h) }.join(", ") %> <br>
          <%= link_to "Full SCREEN MODE", product.attachment.url, :target => "_blank" %>
          </p>
      </div>
    </li>
  <% end %>
</ul>
